<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <h5>Upload Meeting Minute Data (by Excel)</h5>
      </div>
      <div class="card-body">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="file-input">Excel File</label>
            <div class="col-md-10">
              <input type="file" id="file-input" #file name="file-input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
          </div>
          
          <div class="col-md-4">
            <button type="button" class="btn btn-block btn-success" (click)="uploadFile(file.files)" >Upload</button>
          </div>
          <hr>
          <div class="upload" *ngIf="progress > 0">
            <small><em>Status</em></small>
            <progressbar class="progress progress-success" [value]="progress" [max]="100" type="success"><b>{{progress}}%</b></progressbar>
          </div>
          <hr>
          <div >
            <div *ngFor="let alert of alertsDismiss">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="true"><p>{{ alert.msg }}</p></alert>
            </div>
          </div>
        </div>
    
    
      </div>
    </div>
    </div>
    