<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <h4>2.1 List Project</h4>
    </div>
    <div class="card-body">
      <!-- Nav tabs -->
      <tabset #projTabs >

        <tab (selectTab)="goFirstTab()"
        [heading]="'Overview'"
        [active]="true"
        [disabled]="false">
        <table id="dt1" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="row-border hover sortable" style="width: 100%;">
          <thead>
            <tr>
              <th style="width: 100px">Latest Upload Week</th>
              <th style="width: 100px">System</th>
              <th style="width: 150px">PJ Stage#</th>
              <th style="width: 100px">Count request</th>
              <th style="width: 110px">Stage</th>
              <th style="width: 110px">Stage Latest Update Plan Finish</th>
              <th style="width: 110px">Stage Actual Finish</th>
            </tr>
          </thead>
          <tbody *ngIf="listProjectL1?.length != 0">
            <tr *ngFor="let data of listProjectL1" (click)="clickRow(data, 1)">
              <td>{{ data.latestWeek }}</td>
              <td>{{ data.system }}</td>
              <td>{{ data.pjStage }}</td>
              <td>{{ data.countReq }}</td>
              <td>{{ data.stage }}</td>
              <td>{{ data.latestUpdateStage | date: "yyyy/MM/dd"  }}</td>
              <td>{{ data.stageActualFinish | date: "yyyy/MM/dd"  }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="listProjectL1?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
      </table>
          <br>
        </tab>

        <tab (selectTab)="goSecondTab()"
        [heading]="secondTabTitle"
        [active]="secondActive"
        [disabled]="secondDisabled">
        <div style="overflow:auto;" >
        <table id="dt2" datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" class="row-border hover sortable" >
          <thead>
            <tr>
              <th>Latest Upload</th>
              <th>System</th>
              <th>PJ Stage#</th>
              <th>Request No</th>
              <th>Request Subject</th>
              <th>Stage</th>
              <th>Expected Finish Date</th>
              <th>Stage Plan Finish Date</th>
              <th>Stage Actual Finish Date</th>
              <th>IT Give Test Date</th>
              <th>Apply Date</th>
              <th>Applicant</th>
              <th>PIC</th>
              <th>Memo</th>
              <th>Upload Time</th>
            </tr>
          </thead>
          <tbody *ngIf="listProjL2?.length != 0">
            <tr *ngFor="let data of listProjL2" >
              <td style="min-width: 100px">{{ data.week }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.system }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.pjStage }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.reqNo }}</td>
              <td style="min-width: 200px" (click)="clickRow(data, 2)"><pre>{{ data.reqSubject }}</pre></td>
              <td (click)="clickRow(data, 2)"><pre>{{ data.stage }}</pre></td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.expectedFinish | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.stagePlanFinish | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.stageActFinish | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.giveTest | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.applyDate | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 100px" (click)="clickRow(data, 2)">{{ data.applicant }}</td>
              <td style="min-width: 100px" (click)="clickRow(data, 2)">{{ data.pic }}</td>
              <td (click)="clickRow(data, 2)"><pre>{{ data.memo }}</pre></td>
              <td>{{ data.createAt  | date: "yyyy/MM/dd HH:mm"  }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="listProjL2?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
        </div>
          <br>
        </tab>

        <tab [heading]="thirdTabTitle"
        [active]="thirdActive"
        [disabled]="thirdDisabled">
        <div style="overflow:auto;" >
          <table id="dt3" datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger" class="row-border hover sortable" >
            <thead>
              <tr>
                <th>Latest Upload</th>
                <th>System</th>
                <th>PJ Stage#</th>
                <th>Request No</th>
                <th>Request Subject</th>
                <th>Stage</th>
                <th>Expected Finish Date</th>
                <th>Stage Plan Finish Date</th>
                <th>Stage Actual Finish Date</th>
                <th>IT Give Test Date</th>
                <th>Apply Date</th>
                <th>Applicant</th>
                <th>PIC</th>
                <th>Memo</th>
                <th>Upload Time</th>
              </tr>
            </thead>
            <tbody *ngIf="listProjL3?.length != 0">
              <tr *ngFor="let data of listProjL3" >
                <td style="min-width: 100px">{{ data.week }}</td>
                <td style="min-width: 150px">{{ data.system }}</td>
                <td style="min-width: 150px">{{ data.pjStage }}</td>
                <td style="min-width: 150px">{{ data.reqNo }}</td>
                <td style="min-width: 200px"><pre>{{ data.reqSubject }}</pre></td>
                <td style="min-width: 150px"><pre>{{ data.stage }}</pre></td>
                <td style="min-width: 150px" >{{ data.expectedFinish | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.stagePlanFinish | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.stageActFinish | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.giveTest | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.applyDate | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 100px">{{ data.applicant }}</td>
                <td style="min-width: 100px">{{ data.pic }}</td>
                <td><pre>{{ data.memo }}</pre></td>
                <td>{{ data.createAt  | date: "yyyy/MM/dd HH:mm"  }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="listProjL3?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            </tbody>
          </table>
          </div>
        </tab>

      </tabset>
    </div>
  </div>
</div>



