<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="form-row">
        <div class="form-group col-md-10">
          <h4>2.1 List Project</h4>
        </div>
        <div class="form-group col-md-2">
          <ng-select2 [data]="projstat" width="100%" [(ngModel)]="status" (ngModelChange) ="statusChg()"
            [value] ="status" name="status" required>
          </ng-select2>
        </div>

      </div>
    </div>
    <div class="card-body">
      <!-- Nav tabs -->
      <tabset #projTabs >

        <tab (selectTab)="goFirstTab()"
        [heading]="'Overview'"
        [active]="true"
        [disabled]="false">
        <table id="dt1" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="row-border hover sortable" style="width: 100%;">
          <thead>
            <tr>
              <th style="width: 100px">Latest Upload Week</th>
              <th style="width: 100px; background-color:lightskyblue;">System</th>
              <th style="width: 150px; background-color:lightskyblue;">PJ Stage#</th>
              <th style="width: 100px">Count request</th>
              <th style="width: 110px; background-color:lightskyblue;">Stage</th>
              <th style="width: 110px">Stage Latest Update Plan Finish</th>
              <th style="width: 110px">Stage Actual Finish</th>
            </tr>
          </thead>
          <tbody *ngIf="listProjectL1?.length != 0">
            <tr *ngFor="let data of listProjectL1" (click)="clickRow(data, 1)">
              <td>{{ data.latestWeek }}</td>
              <td>{{ data.system }}</td>
              <td>{{ data.pjStage }}</td>
              <td>{{ data.countReq }}</td>
              <td>{{ data.stage }}</td>
              <td>{{ data.latestUpdateStage | date: "yyyy/MM/dd"  }}</td>
              <td>{{ data.stageActualFinish | date: "yyyy/MM/dd"  }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="listProjectL1?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
      </table>
          <br>
        </tab>

        <tab (selectTab)="goSecondTab()"
        [heading]="secondTabTitle"
        [active]="secondActive"
        [disabled]="secondDisabled">
        <div style="overflow:auto;" >
        <table id="dt2" datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" class="row-border hover sortable" >
          <thead>
            <tr>
              <th>Action#</th>
              <th>Latest Upload</th>
              <th>System</th>
              <th>PJ Stage#</th>
              <th style="background-color:lightskyblue;">Request No</th>
              <th>Request Subject</th>
              <th style="background-color:lightskyblue;">Stage</th>
              <th>Expected Finish Date</th>
              <th>Stage Plan Finish Date</th>
              <th>Stage Actual Finish Date</th>
              <th>IT Give Test Date</th>
              <th>Apply Date</th>
              <th>Applicant</th>
              <th>PIC</th>
              <th>Memo</th>
              <th>Upload Time</th>
            </tr>
          </thead>
          <tbody *ngIf="listProjL2?.length != 0">
            <tr *ngFor="let data of listProjL2" >
              <td>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" (click)="openModal(data, 1)">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
              <td style="min-width: 100px">{{ data.week }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.system }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.pjStage }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.reqNo }}</td>
              <td style="min-width: 200px" (click)="clickRow(data, 2)"><pre>{{ data.reqSubject }}</pre></td>
              <td (click)="clickRow(data, 2)"><pre>{{ data.stage }}</pre></td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.expectedFinish | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.stagePlanFinish | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.stageActFinish | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.giveTest | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 150px" (click)="clickRow(data, 2)">{{ data.applyDate | date: "yyyy/MM/dd" }}</td>
              <td style="min-width: 100px" (click)="clickRow(data, 2)">{{ data.applicant }}</td>
              <td style="min-width: 100px" (click)="clickRow(data, 2)">{{ data.pic }}</td>
              <td (click)="clickRow(data, 2)"><pre>{{ data.memo }}</pre></td>
              <td>{{ data.createAt  | date: "yyyy/MM/dd HH:mm"  }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="listProjL2?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
        </div>
          <br>
        </tab>

        <tab [heading]="thirdTabTitle"
        [active]="thirdActive"
        [disabled]="thirdDisabled">
        <div style="overflow:auto;" >
          <table id="dt3" datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger" class="row-border hover sortable" >
            <thead>
              <tr>
                <th>Action#</th>
                <th>Latest Upload</th>
                <th>System</th>
                <th>PJ Stage#</th>
                <th>Request No</th>
                <th>Request Subject</th>
                <th>Stage</th>
                <th>Expected Finish Date</th>
                <th>Stage Plan Finish Date</th>
                <th>Stage Actual Finish Date</th>
                <th>IT Give Test Date</th>
                <th>Apply Date</th>
                <th>Applicant</th>
                <th>PIC</th>
                <th>Memo</th>
                <th>Upload Time</th>
              </tr>
            </thead>
            <tbody *ngIf="listProjL3?.length != 0">
              <tr *ngFor="let data of listProjL3" >
                <td>
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" (click)="openModal(data, 1)">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td style="min-width: 100px">{{ data.week }}</td>
                <td style="min-width: 150px">{{ data.system }}</td>
                <td style="min-width: 150px">{{ data.pjStage }}</td>
                <td style="min-width: 150px">{{ data.reqNo }}</td>
                <td style="min-width: 200px"><pre>{{ data.reqSubject }}</pre></td>
                <td style="min-width: 150px"><pre>{{ data.stage }}</pre></td>
                <td style="min-width: 150px" >{{ data.expectedFinish | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.stagePlanFinish | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.stageActFinish | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.giveTest | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 150px" >{{ data.applyDate | date: "yyyy/MM/dd" }}</td>
                <td style="min-width: 100px">{{ data.applicant }}</td>
                <td style="min-width: 100px">{{ data.pic }}</td>
                <td><pre>{{ data.memo }}</pre></td>
                <td>{{ data.createAt  | date: "yyyy/MM/dd HH:mm"  }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="listProjL3?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            </tbody>
          </table>
          </div>
        </tab>

      </tabset>
    </div>
  </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{listProjS?.reqNo}}</h4>
        <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Request Form No</label>
              <div class="col-md-9">
                <p class="form-control-static">{{listProjS?.reqNo}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Expected Finish</label>
              <div class="col-md-9">
                <input type="date" id="expect-input" name="text-input" class="form-control" [(ngModel)]="listProjS.expectedFinish" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Stage Plan Finish</label>
              <div class="col-md-9">
                <input type="date" id="eststage-input" name="text-input" class="form-control" [(ngModel)]="listProjS.stagePlanFinish" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Stage Actual Finish</label>
              <div class="col-md-9">
                <input type="date" id="finishdate-input" name="text-input" class="form-control" [(ngModel)]="listProjS.stageActFinish" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">IT Give Test Date</label>
              <div class="col-md-9">
                <input type="date" id="testdate-input" name="text-input" class="form-control" [(ngModel)]="listProjS.giveTest">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Apply Date</label>
              <div class="col-md-9">
                <input type="date" id="apply-input" name="text-input" class="form-control" [(ngModel)]="listProjS.applyDate" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Memo</label>
              <div class="col-md-9">
                <textarea id="memo-input" name="textarea-input" rows="9" class="form-control" [(ngModel)]="listProjS.memo"></textarea>
              </div>
            </div>
            <div class="form-group row" *ngIf="listProjS.isClosed !== true">
              <div class="col text-center">
                <button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="confirmModal.show()">
                  Close Request
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div *ngFor="let alert of alertsDismiss">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="true">{{ alert.msg }}</alert>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save(1)" >Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Close Request No {{listProjS?.reqNo}} </h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure?&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmModal.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="save(2)">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



