<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <h4>1.2 Weekly Project View</h4>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Week</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="WeekLists?.length != 0">
          <tr *ngFor="let data of WeekLists" (click)="clickRow(data)">
            <td>{{ data.week }}</td>
            <td>
              <button type="button"  class="btn btn-danger btn-sm"  (click)="deleteModal.show()">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="WeekLists?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--MODAL BOS-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete all project from {{selectedWeek?.week}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteWeekly(selectedWeek)">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
